body {
  /* background-color: #002651; */
  /* color: #fff; */
}


/*Bootstrap default styles */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/*Custom Header Styles */


.container {
  margin-top: 150px;
}

@media (max-width: 768px) {
  .mobile img {
    width: 100%;
    display: block;
  }
}

@media (max-width: 768px) {
  .col-bg img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .immg2 img {
    width: 100%;
  }
}

.container2 {
  color: #012145;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 100%;
  padding-top: 50px;
  padding-left: 50px;
}

nav.navbar-top {
  background-color: #012145;
  z-index: 1;
}

.navbar-brand img {
  height: 5em;  
}

.navbar-nav {
  margin-left: auto;
}


/**    login styles      **/
.login-txt {
  color: #fff;
  position: absolute;
  padding: 8% 10%;
}

.-sm-txt {
  color: #fff;
  font-weight: 900;
}
.-big-txt {
  margin-top: 30px;
  font-size: 3em;
  font-weight: 800;
}

@media (max-width: 768px) {
  .-big-txt {
    margin-top: 9%;
    font-size: 3em;
    font-weight: 700;
  }
  .-sm-txt {
    margin-top: 4%;
    font-weight: 600;
  }
}

/*Page body styles */
div.fancy-img img {
  position: relative;
  height: 20rem;
  width: 50%;
  height: 50%;
  margin-top: -90px;
  margin-left: -60px;
  z-index: -1;
  overflow-y: hidden;
}

@media (max-width: 768px) {
  div.fancy-img img {
    position: relative;
    width: 95%;
    height: 50%;
    margin-top: -12%;
    margin-left: -10%;
    z-index: -1;
    overflow-y: hidden;
  }
}

.form-container {
  position: absolute;
  width: 35%;
  margin-left: 25%;
  margin-top: -25%;
}

input.form-control.border {
  border-color: #775ADA !important;
  border-radius: 50px;
}

.page-title {
  color: #775ADA;
  font-size: 50px;
}

h2 {
  color: #775ADA;
}

h3 {
  color: #28C7FA;
}

.page-subTitle {
  color: #775ADA;
  padding-top: 10px;
  font-size: 22px;
}

.page-desc {
  padding-top: 10px;
  font-size: 18px;
}

.body-btn {
  border: none;
  background-color: #775ADA;
  color: #fff;
  border-radius: 50px;
  padding: 10px 30px;
  margin-top: 10px;
}

.ready {
  margin-top: 60px;
}

.body-btn-2 {
  border: 1.5px solid #775ADA;
  color: #775ADA;
  background-color: transparent;
  border-radius: 50px;
  padding: 10px 30px;
  margin-top: 10px;
}

.body-btn-3 {
  border: 1.5px solid #775ADA;
  background-color: #775ADA;
  color: #fff;
  border-radius: 50px;
  padding: 10px 30px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.big-btn {
  padding: 15px 60px;
  font-size: 1.5rem;
}

.big-btn2 {
  color: #775ADA;
  padding: 15px 40px;
  font-size: 1.5rem;
}


div.page-title img {
  height: 320px;
}

.center-txt {
  color: #28C7FA;
  text-align: center;
  font-size: 30px;
}

.page-center-txt {
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
}

div.box-info {
  border: 1px solid #fff;
  background-color: #fff;
  color: #012145;
  padding: 20px;
  height: 100%;
  margin-right: 15px;
}

@media (max-width: 768px) {
  div.box-info {
    margin-bottom: 15px;
  }
}

div.box-info img {
  height: 3rem;
  margin: 8px;
}

.page-text-2 {
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

div.immg2 img {
  height: 280px;
  margin-bottom: 20px;
  
}

div.test-img img {
  border: 1px solid #775ADA;
  border-radius: 50%;
  height: 12rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 50px;
}

.carousel-indicators {
  bottom: -90px;
  border-color: #775ADA;
}

.carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-right: 10px;
}

.carousel-inner {
  margin-bottom: 90px;
}

.carousel-indicators .active{
  background-color: #775ADA;
}

i.fa {
  color: #775ADA;
  font-size: 24px;
  font-weight: 700;
}

.col-bg {
  background-image: url("/img/family-values.png");
  background-repeat: no-repeat;
  background-size: 14rem;
}

#items {
  overflow-x: scroll;
  width: auto;
  white-space: nowrap;
}

.item {
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 300px;
  border: 1px solid #775ADA;
  margin-right: 60px;
  margin-top: 50px;
  }

.item img {
  width: 300px;
  height: 300px;
}

  #items::-webkit-scrollbar {
    display: none;
    -webkit-overflow-scrolling: click;
  }

  .companies {
    margin-top: 60px;
  }

  .social-links {
    margin-right: 10px;
  }

  .fa-facebook {
    color: #346DA6 !important;
  }

  .fa-twitter {
    color: #28C7FA !important;
  }
  
  .fa-google {
    color: red !important;
  }
